<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>회원 가입</h1>
    <div>
      이메일
      <input
        type="email"
        name="email"
        id="email"
        placeholder="이메일을 입력해주세요"
      />
    </div>
    <div>
      아이디
      <input
        type="text"
        name="id"
        id="id"
        placeholder="아이디를 입력해주세요"
      />
    </div>
    <div>
      비밀번호
      <input
        type="password"
        name="password"
        id="password"
        placeholder="비밀번호를 입력해주세요"
      />
    </div>
    <div>
      비번확인
      <input
        type="password"
        name="checkPw"
        id="checkpw"
        placeholder="앞의 입력한 비밀번호를 입력해주세요"
      />
    </div>
    <div><button onclick="reqJoin()">가입</button></div>

    <script>
      const checkInput = () => {
        email = document.getElementById("email");
        id = document.getElementById("id");
        password = document.getElementById("password");
        checkpw = document.getElementById("checkpw");

        if (id.value === "" || id.value === null) {
          alert("아이디를 입력해주세요");
          return false;
        } else if (password.value === "" || password.value === null) {
          alert("비밀번호를 입력해주세요");
          return false;
        } else if (email.value === "" || email.value === null) {
          alert("이메일을 입력해주세요");
          return false;
        } else if (
          password.value === "" ||
          password.value === null ||
          checkpw.value === "" ||
          checkpw.value === null
        ) {
          alert("비밀번호를 입력해 주세요");
          return false;
        } else if (password.value !== checkpw.value) {
          alert("비밀번호를 확인해 주세요")
          return false;
        }
        return true;
      };

      const reqJoin = () => {
        if (!checkInput()) {
          return;
        }

        const dto = {
          user: {
            email: document.getElementById("email").value,
            id: document.getElementById("id").value,
            password: document.getElementById("password").value,
          },
        };

        fetch("/api/v1/auth/join", {
          method: "POST",
          headers: {
            "Content-Type": "application/json;charset=utf-8",
          },
          body: JSON.stringify(dto),
        })
          .then((response) => response.json())
          .then((result) => {
            alert(result.message);

            if (result.code === 0) {
              location.replace("/auth/login");
            }
          });
      };
    </script>
  </body>
</html>
