<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script>
      const goJoin = () => {
        window.location.href = "/auth/join";
      };

      const checkInput = () => {
        let id = document.getElementById("id");
        let password = document.getElementById("password");

        if (id.value === "" || id.value === null) {
          alert("아이디를 입력해주세요");
          return false;
        } else if (password.value === "" || password.value === null) {
          alert("비밀번호를 입력해주세요");
          return false;
        }
        return true;
      };

      const requestLogin = () => {
        // 입력값 검증
        if (!checkInput()) {
          return;
        }

        const dto = {
          user: {
            id: document.getElementById("id").value,
            password: document.getElementById("password").value,
          },
        };

        fetch("/api/v1/auth/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/json;charset=utf-8",
          },
          body: JSON.stringify(dto),
        })
          .then((response) => response.json())
          .then((result) => {
            alert(result.message);

            if (result.code === 0) {
              location.replace("/");
            }
          });
      };
      document.querySelector("#password").addEventListener("keyup", (event) => {
        if (event.keyCode === 13) {
          requestLogin();
        }
      });
    </script>
  </head>
  <body>
    <div layout:fragment="content">
      <h1>로그인</h1>
      <div>
        아이디
        <input type="text" name="id" id="id" />
      </div>
      <div>
        비밀번호
        <input type="password" name="password" id="password" />
      </div>
      <div>
        <button onclick="requestLogin()">로그인</button>
      </div>

      <div><button onclick="goJoin()">회원가입</button></div>
    </div>

    
  </body>
</html>
