<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script>
      const checkInput = () => {
        title = document.getElementById("title");
        content = document.getElementById("content");

        if (title.value === "" || title.value === null) {
          alert("제목을 입력해주세요");
          return false;
        } else if (content.value === "" || content.value === null) {
          alert("내용을 입력해주세요");
          return false;
        }
        return true;
      };

      const reqPost = () => {
        if (!checkInput()) {
          return;
        }

        const dto = {
          post: {
            title: document.getElementById("title").value,
            content: document.getElementById("content").value,
          },
        };

        fetch("/api/v1/post/write", {
          method: "POST",
          headers: {
            "Content-Type": "application/json;charset=utf-8",
          },
          body: JSON.stringify(dto),
        })
          .then((response) => response.json())
          .then((result) => {
            alert(result.message);

            if (result.code === 0) {
              location.replace("/");
            }
          });
      };
    </script>
  </head>
  <body>
    <div layout:fragment="content">
      <h1>게시글 쓰기</h1>
      <div>제목 <input type="text" name="title" id="title" /></div>
      <div>내용 <textarea name="content" id="content"></textarea></div>
      <div><button onclick="reqPost()">글쓰기</button></div>
    </div>

    
  </body>
</html>
