<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script th:inline="javascript">
      const goPost = (idx) => {
        window.location.href = "post/" + idx;
      };

      const goPostUser = (idx) => {
        window.location.href = "post/user/" + idx;
      };

      const goPostWrite = () => {
        window.location.href = "post-write";
      };
    </script>
  </head>
  <body>
    <div layout:fragment="content">
      <button th:if="${session.dto != null}" onclick="goPostWrite()">
        글쓰기
      </button>
      <h1>게시판</h1>
      <table border="1">
        <th>게시글 번호</th>
        <th>게시글 제목</th>
        <th>글 쓴 시간</th>
        <th>글쓴이</th>
        <tr th:each="postList : ${dto.mainPostDTOList}">
          <td th:onclick="goPost([[${postList.idx}]])">
            <span th:text="${postList.idx}"></span>
          </td>
          <td th:onclick="goPost([[${postList.idx}]])">
            <span th:text="${postList.title}"></span>
          </td>
          <td th:onclick="goPost([[${postList.idx}]])">
            <span th:text="${postList.createDate}"></span>
          </td>
          <td th:onclick="goPostUser([[${postList.userIdx}]])">
            <span th:text="${postList.userId}"></span>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
